* { box-sizing: border-box; }

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 15000px;
}

.box {
	width: 2500px;
	height: 100%;
	background-color:#00E676;
	border-top:2px dashed;
	border-bottom:2px dashed;
	border-color: #00C853;
	padding-left:20px;
	float:left;
}

.navigation{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
	width: 135px;
	height: 50px;
}

.navcircle a{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #37474F;
	text-align: center;
	float: left;
	margin: 2px;
}

.navigation a:link{
	color: white;
}

.navigation a:visited{
	color: white;
}

.navigation a:hover{
	color: #76FF03;
}

.home a{
	text-decoration: none;
	font-family: Helvetica;
	font-size: 15pt;
	font-weight: 600;
	font-color: white;
	line-height: 40px;
}

.back a{
	text-decoration: none;
	font-family: Helvetica;
	font-size: 25pt;
	font-weight: 600;
	font-color: white;
	line-height: 35px;
}

.next a{
	text-decoration: none;
	font-family: Helvetica;
	font-size: 25pt;
	font-weight: 600;
	font-color: white;
	line-height:35px;
}